.header-announcement {
  box-sizing: border-box;
  text-align: center;
  background-color: #000;
  width: 100%;
  height: 50px;
  padding: 10px;
  z-index: 99;
}

.header-announcement img {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}

.push-down {
  top: 50px !important;
}

@media (min-width: 768px) {
  .header-announcement {
    position: absolute;
    background-color: #000;
    top: 0;
  }
}

@media (max-width: 352px) {
  .header-announcement .hide-small {
    display: none;
  }

  .header-announcement img {
    margin-right: 5px;
  }
}
